<% include partials/header.ejs %>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <img src="/images/danish.jpg" alt="Danish">
  <h1>Naveed Danish</h1>
  <ul><li>Student ID: 301032012</li></ul>
  <ul><li>Course Code: COMMP 229</li></ul>
  <ul><li>Course Name: Web Application Development</li></ul>
  <ul><li>Assignment 1</li></ul>

<% include partials/footer.ejs %>
